<a href="https://colab.research.google.com/github/vineetbiyani09/ML/blob/master/EXP_5/J010_Exp_5_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Perform regression on fuel consumption dataset

In [38]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from keras.optimizers import Adam

Data Set Download

In [39]:
!wget -O FuelConsumption.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/FuelConsumptionCo2.csv

--2020-10-24 16:09:17--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/FuelConsumptionCo2.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 72629 (71K) [text/csv]
Saving to: ‘FuelConsumption.csv’

FuelConsumption.csv 100%[===================>]  70.93K  --.-KB/s    in 0.04s

2020-10-24 16:09:18 (1.80 MB/s) - ‘FuelConsumption.csv’ saved [72629/72629]

Data Preprocessing

In [40]:
fuelc = pd.read_csv('FuelConsumption.csv')
fuelc.head()
fuelc.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [41]:
#for maths and data types
import numpy as np
import pandas as pd
#for visualization (graphs)
import matplotlib.pyplot as plt
import seaborn as sns
# train_test_split- to split the datasets
#cross_val_score
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
#lm regression
from sklearn import linear_model
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
#do not print warning 
import warnings
warnings.filterwarnings('ignore')
#random set seed
np.random.seed(27)

In [42]:
fuelc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [43]:
fuelc.nunique()

MODELYEAR                     1
MAKE                         39
MODEL                       663
VEHICLECLASS                 16
ENGINESIZE                   45
CYLINDERS                     7
TRANSMISSION                 22
FUELTYPE                      4
FUELCONSUMPTION_CITY        167
FUELCONSUMPTION_HWY         118
FUELCONSUMPTION_COMB        148
FUELCONSUMPTION_COMB_MPG     43
CO2EMISSIONS                159
dtype: int64

In [44]:
# setting up default plotting parameters
%matplotlib inline
#fix figure size
plt.rcParams['figure.figsize'] = [20.0, 7.0]
#fix font size
plt.rcParams.update({'font.size': 22,})
#fix colour/style/font
sns.set_palette('viridis')
sns.set_style('white')
sns.set_context('talk', font_scale=0.8)

In [45]:
fuelc.drop('MODELYEAR', axis = 1, inplace = True)
fuelc.drop('MODEL', axis = 1, inplace = True)
fuelc.drop('MAKE', axis = 1, inplace = True)
fuelc.head()

  VEHICLECLASS  ENGINESIZE  ...  FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0      COMPACT         2.0  ...                        33          196
1      COMPACT         2.4  ...                        29          221
2      COMPACT         1.5  ...                        48          136
3  SUV - SMALL         3.5  ...                        25          255
4  SUV - SMALL         3.5  ...                        27          244

[5 rows x 10 columns]

In [46]:
fuelc = pd.get_dummies(fuelc)
fuelc.head()

   ENGINESIZE  CYLINDERS  ...  FUELTYPE_X  FUELTYPE_Z
0         2.0          4  ...           0           1
1         2.4          4  ...           0           1
2         1.5          4  ...           0           1
3         3.5          6  ...           0           1
4         3.5          6  ...           0           1

[5 rows x 49 columns]

In [47]:
fuelc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 49 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   ENGINESIZE                             1067 non-null   float64
 1   CYLINDERS                              1067 non-null   int64
 2   FUELCONSUMPTION_CITY                   1067 non-null   float64
 3   FUELCONSUMPTION_HWY                    1067 non-null   float64
 4   FUELCONSUMPTION_COMB                   1067 non-null   float64
 5   FUELCONSUMPTION_COMB_MPG               1067 non-null   int64
 6   CO2EMISSIONS                           1067 non-null   int64
 7   VEHICLECLASS_COMPACT                   1067 non-null   uint8
 8   VEHICLECLASS_FULL-SIZE                 1067 non-null   uint8
 9   VEHICLECLASS_MID-SIZE                  1067 non-null   uint8
 10  VEHICLECLASS_MINICOMPACT               1067 non-null   uint8
 11  VEHICLECLASS_MINIVAN                   1067 non-null   uint8
 12  VEHICLECLASS_PICKUP TRUCK - SMALL      1067 non-null   uint8
 13  VEHICLECLASS_PICKUP TRUCK - STANDARD   1067 non-null   uint8
 14  VEHICLECLASS_SPECIAL PURPOSE VEHICLE   1067 non-null   uint8
 15  VEHICLECLASS_STATION WAGON - MID-SIZE  1067 non-null   uint8
 16  VEHICLECLASS_STATION WAGON - SMALL     1067 non-null   uint8
 17  VEHICLECLASS_SUBCOMPACT                1067 non-null   uint8
 18  VEHICLECLASS_SUV - SMALL               1067 non-null   uint8
 19  VEHICLECLASS_SUV - STANDARD            1067 non-null   uint8
 20  VEHICLECLASS_TWO-SEATER                1067 non-null   uint8
 21  VEHICLECLASS_VAN - CARGO               1067 non-null   uint8
 22  VEHICLECLASS_VAN - PASSENGER           1067 non-null   uint8
 23  TRANSMISSION_A4                        1067 non-null   uint8
 24  TRANSMISSION_A5                        1067 non-null   uint8
 25  TRANSMISSION_A6                        1067 non-null   uint8
 26  TRANSMISSION_A7                        1067 non-null   uint8
 27  TRANSMISSION_A8                        1067 non-null   uint8
 28  TRANSMISSION_A9                        1067 non-null   uint8
 29  TRANSMISSION_AM5                       1067 non-null   uint8
 30  TRANSMISSION_AM6                       1067 non-null   uint8
 31  TRANSMISSION_AM7                       1067 non-null   uint8
 32  TRANSMISSION_AS4                       1067 non-null   uint8
 33  TRANSMISSION_AS5                       1067 non-null   uint8
 34  TRANSMISSION_AS6                       1067 non-null   uint8
 35  TRANSMISSION_AS7                       1067 non-null   uint8
 36  TRANSMISSION_AS8                       1067 non-null   uint8
 37  TRANSMISSION_AS9                       1067 non-null   uint8
 38  TRANSMISSION_AV                        1067 non-null   uint8
 39  TRANSMISSION_AV6                       1067 non-null   uint8
 40  TRANSMISSION_AV7                       1067 non-null   uint8
 41  TRANSMISSION_AV8                       1067 non-null   uint8
 42  TRANSMISSION_M5                        1067 non-null   uint8
 43  TRANSMISSION_M6                        1067 non-null   uint8
 44  TRANSMISSION_M7                        1067 non-null   uint8
 45  FUELTYPE_D                             1067 non-null   uint8
 46  FUELTYPE_E                             1067 non-null   uint8
 47  FUELTYPE_X                             1067 non-null   uint8
 48  FUELTYPE_Z                             1067 non-null   uint8
dtypes: float64(4), int64(3), uint8(42)
memory usage: 102.2 KB

In [48]:
X = fuelc.drop('CO2EMISSIONS', axis = 1)
X.head()

   ENGINESIZE  CYLINDERS  ...  FUELTYPE_X  FUELTYPE_Z
0         2.0          4  ...           0           1
1         2.4          4  ...           0           1
2         1.5          4  ...           0           1
3         3.5          6  ...           0           1
4         3.5          6  ...           0           1

[5 rows x 48 columns]

In [49]:
Y = fuelc['CO2EMISSIONS']
Y.head()

0    196
1    221
2    136
3    255
4    244
Name: CO2EMISSIONS, dtype: int64

In [50]:
seed = 8
test_size = 0.2
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [51]:
print('Train Shape: ', X_train.shape)
print('Test Shape: ', X_test.shape)
print('Train Shape: ', y_train.shape)
print('Test Shape: ', y_test.shape)

Train Shape:  (853, 48)
Test Shape:  (214, 48)
Train Shape:  (853,)
Test Shape:  (214,)

In [52]:
linear = linear_model.LinearRegression()
ridge = linear_model.Ridge()
lasso= linear_model.Lasso()
elastic = linear_model.ElasticNet()
lasso_lars = linear_model.LassoLars()
bayes_ridge = linear_model.BayesianRidge()

models_churn = [linear, ridge, lasso, elastic, lasso_lars, bayes_ridge]

In [53]:
def get_cv_scores(model):
    scores = cross_val_score(model, X_train, y_train, cv=5, scoring='r2')
    print('CV Mean: ', np.mean(scores))
    print('STD: ', np.std(scores))
    print('\n')

In [54]:
for i in models_churn:
    print(i)
    get_cv_scores(i)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)
CV Mean:  0.9921125917001371
STD:  0.0007450708600769237


Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)
CV Mean:  0.9918399771112736
STD:  0.0007181078607131842


Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)
CV Mean:  0.9773044192295819
STD:  0.004006602774428582


ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=None, selection='cyclic', tol=0.0001, warm_start=False)
CV Mean:  0.8975642512767482
STD:  0.011560892627569456


LassoLars(alpha=1.0, copy_X=True, eps=2.220446049250313e-16, fit_intercept=True,
          fit_path=True, max_iter=500, normalize=True, positive=False,
          precompute='auto', verbose=False)
CV Mean:  0.6940765914166501
STD:  0.02063921955572581


BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
              compute_score=False, copy_X=True, fit_intercept=True,
              lambda_1=1e-06, lambda_2=1e-06, lambda_init=None, n_iter=300,
              normalize=False, tol=0.001, verbose=False)
CV Mean:  0.9921034284042634
STD:  0.0007251868739567206

Best Accuracy Linear Regression, Ridge, Bayesian Ridge

In [55]:
alpha = [0.5, 1, 1.5, 0.01, 2.5, 0.0001, 10, 100, 0.35]
solver = ['auto', 'svd']

param_grid = dict(alpha = alpha, solver = solver)

In [56]:
grids = GridSearchCV(estimator = ridge, param_grid = param_grid, scoring = 'r2', cv = 10)
grid_result = grids.fit(X_train, y_train)

In [57]:
rnds = RandomizedSearchCV(estimator = ridge, param_distributions = param_grid, scoring='r2', cv = 10)
rnds_result = rnds.fit(X_train, y_train)

In [58]:
#best score
print('best score for grid:', grid_result.best_score_)
print('best score for random:',rnds_result.best_score_)
#parameters that give best score
print('best list of hyper-params for grid:', grid_result.best_params_)
print('best list of hyper-params for random:',rnds_result.best_params_)

best score for grid: 0.9921217477730362
best score for random: 0.9921217477730362
best list of hyper-params for grid: {'alpha': 0.01, 'solver': 'svd'}
best list of hyper-params for random: {'solver': 'svd', 'alpha': 0.01}

In [59]:
#apply best model
from sklearn import linear_model
bayes_ridge = linear_model.BayesianRidge()

In [60]:
from sklearn.metrics import r2_score
bayes_ridge.fit(X_train, y_train)
y_train_pred = bayes_ridge.predict(X_train)
accuracy_train = r2_score(y_train, y_train_pred)
print("Train accuracy: ",accuracy_train*100,"%")
y_pred = bayes_ridge.predict(X_test)
accuracy_test = r2_score(y_test, y_pred)
print("Test Accuracy: ",accuracy_test*100,"%")

Train accuracy:  99.32431740832742 %
Test Accuracy:  99.1997043143234 %

Classification

In [61]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
data = np.c_[iris.data, iris.target]
columns = np.append(iris.feature_names, ["target"])
iris2 = pd.DataFrame(data, columns=columns)
iris2.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2     0.0
1                4.9               3.0  ...               0.2     0.0
2                4.7               3.2  ...               0.2     0.0
3                4.6               3.1  ...               0.2     0.0
4                5.0               3.6  ...               0.2     0.0

[5 rows x 5 columns]

In [62]:
iris2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    float64
dtypes: float64(5)
memory usage: 6.0 KB

In [63]:
X = iris2.iloc[:,0:4]
iris2['target'] = pd.Categorical(pd.factorize(iris2['target'])[0])
Y = iris2['target']
print(X.head())
print(Y.head())
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(iris2['target'].unique())
Y = le.transform(Y)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
0    0
1    0
2    0
3    0
4    0
Name: target, dtype: category
Categories (3, int64): [0, 1, 2]

In [64]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
seed = 8
test_size = 0.2
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

In [65]:
from sklearn import linear_model
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
logistics = linear_model.LogisticRegression()
sgd = linear_model.SGDClassifier()
passagg = linear_model.PassiveAggressiveClassifier()
ridgecv = linear_model.RidgeClassifierCV()
ridgeclass = linear_model.RidgeClassifier()

In [66]:
models_churn = [logistics,sgd,passagg,ridgecv,ridgeclass]

In [67]:
def get_cv_scores(model):
    scores = cross_val_score(model, x_train, y_train, cv=5, scoring='accuracy')
    print('CV Mean: ', np.mean(scores))
    print('STD: ', np.std(scores))
    print('\n')

In [68]:
for i in models_churn:
    print(i)
    get_cv_scores(i)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
CV Mean:  0.975
STD:  0.02041241452319313


SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)
CV Mean:  0.7666666666666666
STD:  0.12527746981977422


PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=1000, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)
CV Mean:  0.9166666666666666
STD:  0.026352313834736508


RidgeClassifierCV(alphas=array([ 0.1,  1. , 10. ]), class_weight=None, cv=None,
                  fit_intercept=True, normalize=False, scoring=None,
                  store_cv_values=False)
CV Mean:  0.8666666666666666
STD:  0.06666666666666665


RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)
CV Mean:  0.8666666666666666
STD:  0.06666666666666665

Best Model : Logistic Regression

In [69]:
penalty = ['l1', 'l2']
C = [0.0001, 0.001, 0.01]
class_weight = [{1:0.5, 0:0.5}, {1:0.6, 0:0.4}]
solver = ['liblinear', 'saga'] 

paramgrid = dict(penalty=penalty, C=C, class_weight=class_weight, solver=solver)

grid = GridSearchCV(estimator=logistics, param_grid=paramgrid, scoring='accuracy', verbose=1, n_jobs=-1)
grid_result = grid.fit(x_train, y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:    0.5s finished

In [70]:
print(grid_result.best_score_)
print(grid_result.best_params_)

0.6666666666666666
{'C': 0.01, 'class_weight': {1: 0.6, 0: 0.4}, 'penalty': 'l2', 'solver': 'saga'}

In [71]:
y_test_pred = grid_result.predict(x_test)
from sklearn.metrics import accuracy_score
ans = accuracy_score(y_test, y_test_pred)
ans*100

70.0

In [72]:
penalty = ['l1', 'l2']
C = [0.0001, 0.001, 0.01]
class_weight = [{1:0.5, 0:0.5}, {1:0.6, 0:0.4}]
solver = ['liblinear', 'saga'] #

paramgrid = dict(penalty=penalty, C=C, class_weight=class_weight, solver=solver)

random = RandomizedSearchCV(estimator=logistics, param_distributions=paramgrid, scoring='accuracy', verbose=1, n_jobs=-1)
random_result = random.fit(x_train, y_train)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:    0.2s finished

In [73]:
print(random_result.best_score_)
print(random_result.best_params_)

0.6583333333333333
{'solver': 'liblinear', 'penalty': 'l2', 'class_weight': {1: 0.6, 0: 0.4}, 'C': 0.01}

In [74]:
y_test_pred2 = random_result.predict(x_test)
ans2 = accuracy_score(y_test, y_test_pred2)
ans2*100

70.0